* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}



.header-text {
    text-align: center;
    padding: 30px;
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #8c8a8a;
}

.header-content-img {
    width: 1110px;
    height: 450px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 35px;
}


.main-box {
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.main-box-left {
    width: 730px;
    height: 500px;
    background: #f0f0f0;
    padding: 30px 30px;
    gap: 25px;
}

.main__box-right-title {
    color: #4581B7;
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #4581b7;
    padding-top: 14px;



}

.main__box-right {
    width: 350px;
    height: 500px;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 30px;

}

.box-left-text {
    max-width: 595px;
    width: 100%;
}

.main__box-texts {
    max-width: 285px;
}

.main__box__right-links {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.main__box__right-title {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #4581b7;
}

.main__box__right-text {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
    padding-bottom: 30px;


}

.main__box-number {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}

.main__box-email {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}



.box-left-text {
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}

.box-right-text {
    padding-right: 24px;
    padding-left: 40px;
    font-family: Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #808080;
}

.box-left-title {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    color: #4581b7;
    padding-top: 14px;
    padding-bottom: 25px;
}

.box-right-title {
    font-family: Arial;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #4581b7;

}


/* CONTAINER BOX */

.main-footer {
    max-width: 1110px;
    width: 100%;
    height: 150px;
    background: rgba(240, 240, 240, 1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.footer-right {

    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-left {
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-footer-text {
    font-weight: 400;
    font-size: 16px;
    color: #808080;
    margin-right: 40px;
    margin-bottom: 10px;
}

.main-footer-number {
    font-weight: 700;
    font-size: 25px;
    color: #808080;
    margin-top: 10px;
    margin-right: 45px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-content-img img{
    width: 100%;
}


/* MEDIA */


@media (max-width:940px){

    .header-text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .header-content-img{
        width: 100%;
    }

    .main-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

}

@media(max-width:820px){
    .box-left-text{
        line-height: 20px;
        
    
    }

    .header-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      
    }

    .main-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .main-box-left{
        width: 351px;
        overflow: auto;
    }


}


@media(max-width:700px){
    .box-left-text{
        line-height: 18px;
    }

    .header-text{
        font-size: 19px;
    }


    .main-box-left{
        overflow: auto;
        width: 351px;
    }

    .box-left-title{
        font-size: 19px;
    }

    .box-left-text{
        font-size: 17px;
    }

    .main__box-right-title{
        font-size: 19px;
    }

    .main__box__right-text{
        font-size:18px ;
    }

    .main__box-email{
        font-size: 18px;
    }

    .main__box-number{
        font-size: 18px;
    }

    .main-footer-number{
        font-size: 19px;

    }
    
    .main-footer-text{
        font-size: 19px;
    }
}

@media(max-width:600px){
    .header-text{
        font-size: 18px;
    }

    .box-left-title{
        font-size: 17px;
    }

    .box-left-text{
        font-size: 17px;
    }

    .main__box-right-title{
        font-size: 17px;
    }

    .main__box__right-text{
        font-size:17px ;
    }

    .main__box-email{
        font-size: 17x;
    }

    .main__box-number{
        font-size: 17px;
    }

    .main-footer-number{
        font-size: 19px;

    }
    
    .main-footer-text{
        font-size: 19px;
    }
}


@media(max-width:520px){
    .main-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        height: 218px;
    }

    .footer-right{
        text-align: center;
    }

    .main-box-left{
        overflow: auto;
        width: 351px;
    }

    .header-text{
        font-size: 17px;

    }

    .box-left-title{
        font-size: 17px;
    }

    .box-left-text{
        font-size: 16px;
    }

    .main__box-right-title{
        font-size: 16px;
    }

    .main__box__right-text{
        font-size:16px ;
    }

    .main__box-email{
        font-size: 16x;
    }

    .main__box-number{
        font-size: 16px;
    }

    .main-footer-number{
        font-size: 19px;

    }
    
    .main-footer-text{
        font-size: 19px;
    }
}


@media(max-width:420px){
    .main-box-left{
        width: 351px;
        overflow: auto;
    }

    .header-text{
        font-size: 15px;

    }

    .header-text{
        font-size: 15px;

    }

    .box-left-title{
        font-size: 16px;
    }

    .box-left-text{
        font-size: 15px;
    }

    .main__box-right-title{
        font-size: 16px;
    }

    .main__box__right-text{
        font-size:15px ;
    }

    .main__box-email{
        font-size: 15x;
    }

    .main__box-number{
        font-size: 15px;
    }

    
    .main-footer-number{
        font-size: 18px;

    }
    
    .main-footer-text{
        font-size: 18px;
    }
}


@media(max-width:320px){
    .main-box-left{
        width: 250px;
        overflow: auto;
    }

    .main__box-right{
        width: 250px;
    }

    .box-left-text{
        line-height: 15px;
    }


    .footer-left{
        padding-left: 0%;
    }
    
    .header-text{
        font-size: 14px;

    }

    .box-left-title{
        font-size: 15px;
    }

    .box-left-text{
        font-size: 14px;
    }

    .main__box-right-title{
        font-size: 15px;
    }

    .main__box__right-text{
        font-size:14px ;
    }

    .main__box-email{
        font-size: 14px;
    }

    .main__box-number{
        font-size: 14px;
    }

    .main-footer-number{
        font-size: 17px;

    }
    
    .main-footer-text{
        font-size: 17px;
    }

}
